@media all and (max-width: 768px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  body {
    background-color: #e5e5e5;
    width: 389px;
  }

  .container {
    background-color: rgb(248, 246, 246);
    width: 389px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    background-size: 100vw;
  }

  .logo {
    position: static;
    width: 76px;
    height: 20px;
    left: 12px;
    top: 10px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;

    /* identical to box height, or 111% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    flex: none;
  }

  .flex {
    display: flex;
  }

  a {
    text-decoration: none;
  }

  article {
    background-color: #fff;
    background-image: url(/imgs/header-shapes-mobile.png);
    background-repeat: no-repeat;
    background-position-y: 35px;
    border-bottom-left-radius: 80px;
  }

  h1 {
    height: 9.375rem;
    width: 15rem;
    margin: 0.75rem 1.5rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
    font-size: 40px;
  }

  article p {
    width: 20.438rem;
    margin: 0 1.5rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  h5 {
    margin: 0.75rem 1.5rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #396df2;
    width: 7.313rem;
  }

  ul {
    list-style-type: none;
  }

  article ul {
    width: 9.75rem;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    width: 375px;
    border-radius: 16px;
    padding: 16px;
    column-gap: 1px;
  }

  .content {
    margin-top: 248px;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 12px;
    height: 80px;
  }

  .content h4 {
    width: 295px;
    height: 36px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    margin: 12px 0;
  }

  .grid-item {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    background-color: #fff;
    color: #344563;
    background-repeat: no-repeat;
    background-position: 16px 16px;
    border-radius: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 12px 16px;
    width: 327px;
    height: 552px;
  }

  .grid-item ul {
    width: 203px;
    height: 24px;
    padding-left: 0;
  }

  .content ul {
    list-style-type: disc;
    justify-content: space-between;
    width: 236px;
    padding-left: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .content li {
    color: #7a869a;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }

  .ocontent li {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    margin-left: 16px;
    background-color: #ebebff;
    color: #6070ff;
    border-radius: 8px;
    padding: 6px 12px;
    align-items: center;
  }

  footer {
    background-color: #6070ff;
    color: white;
    background-image: url(/imgs/contact_form_shapes_mobile.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 375px;
    height: 779px;
    left: 0;
    top: 5410px;
    border-top-left-radius: 80px;
    margin-top: 113.85px;
  }

  h3 {
    display: flex;
    text-align: center;
    padding-top: 100px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    align-items: center;
    color: #fff;
    justify-content: center;
  }

  footer > p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  .grid-item p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin: 12px 16px;
  }

  .cano {
    list-style-type: none;
  }

  ul .cano {
    color: #000;
  }

  button {
    width: 124px;
    height: 48px;
    border: 1px solid #6070ff;
    box-sizing: border-box;
    border-radius: 8px;
    color: #6070ff;
    background-color: #fff;
    margin-bottom: 28px;
  }

  button:hover {
    background-color: #8189cd;
    color: #fff;
  }

  button:active {
    background-color: #2230d2;
    color: #fff;
  }

  .show-case {
    background-image: url("/imgs/page2.png");
    margin-top: 114px;
  }

  .show-case2 {
    background-image: url("/imgs/page3.png");
    margin-top: 88px;
  }

  .show-case3 {
    background-image: url("/imgs/page4.png");
    margin-top: 88px;
  }

  .show-case4 {
    background-image: url("/imgs/page5.png");
    margin-top: 88px;
  }

  #about-me {
    flex-direction: column;
    width: 375px;
    background: #fff;
    display: flex;
    border-top-right-radius: 80px;
    margin-top: 114px;
  }

  h2 {
    position: static;
    width: 327px;
    height: 101px;
    left: 0;
    top: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 12px 24px;
    margin-top: 114px;
  }

  #about-me p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    width: 327px;
    height: 144px;
    margin: 12px 24px;
  }

  #about-me ul {
    width: 9.75rem;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
  }

  .lang-section li {
    width: 327px;
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  .lang-prog {
    display: flex;
    height: 67px;
    justify-content: start;
    align-items: center;
    background: #f7f7f9;
    border-radius: 8px;
    margin: 6px 12px;
  }

  .javascript-img {
    display: flex;
    align-items: center;
    margin-left: 12px;
  }

  .hg li {
    border-bottom: #dfe1e6 1px solid;
  }

  .form {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    margin: 20px;
    padding: 10px;
    width: 320px;
  }

  .form-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    background: #fff;
    border-radius: 8px;
    margin: 20px;
  }

  .end-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .form-btn:hover {
    background-color: green;
    color: #fff;
  }

  .form-btn:active {
    background-color: yellow;
    color: #fff;
  }
}

@media all and (min-width: 768px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  body {
    width: 100%;
    background-color: #e5e5e5;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    background-size: 100vw;
  }

  .logo {
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    flex: none;
    padding-left: 100px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    transition: font-size 2s;
    transition-delay: 0s;
    transition-duration: 2s;
  }

  .logo:hover {
    color: red;
    font-size: 36px;
  }

  header > ul {
    list-style-type: none;
    display: flex;
    color: #344563;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    padding-right: 150px;
  }

  header > ul > li {
    padding: 10px;
    font-size: 15px;
    transition: font-size 2s;
  }

  header > ul > li:hover {
    font-size: 30px;
  }

  a:link {
    text-decoration: none;
  }

  article {
    background-color: #fff;
    background-image: url("/imgs/background-desktop.png");
    border-bottom-left-radius: 80px;
    padding: 124px 24px 24px 24px;
    background-repeat: no-repeat;
    background-size: 100%;
    animation-name: first-page;
    animation-duration: 20s;
    animation-iteration-count: 1;
  }

  @keyframes first-page {
    0% {background-color: #fff;}
    25% {background-color: red;}
    50% {background-color: green;}
    75% {background-color: yellow;}
  }

  .flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 70px 50px 130px;
  }

  .flexbox-container-dd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
  }

  .flexbox-container-lang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    padding-left: 50px;
    width: 50%;
  }

  .flexbox-item {
    width: 80%;
    background-color: white;
    margin-left: 20%;
  }

  .flexbox-item-1 {
    width: 63.89%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    flex: none;
    transition-property: color, font-size;
    transition-duration: 2s;
  }

  .flexbox-item-1:hover {
    color: green;
    font-size: 70px;
  }

  .flexbox-item-2 {
    width: 63.89%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    flex: none;
    flex-grow: 0;
    background-color: white;
    animation-name: intro;
    animation-duration: 5s;
  }

  .flexbox-item-2:hover {
    color: red;
  }

  @keyframes intro {
    from {background-color: white;color: #344563;}
    to {background-color: purple;color: white;}
  }

  .flexbox-item-3 {
    width: 63.89%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #396df2;
    padding: 20px 20px 20px 0.01px;
  }

  .flexbox-item-4 {
    width: 63.89%;
  }

  .flexbox-item-4 > a {
    padding-right: 20px;
    padding-top: 20px;
  }

  button {
    width: 124px;
    height: 48px;
    border: 1px solid #6070ff;
    box-sizing: border-box;
    border-radius: 8px;
    color: #6070ff;
    background-color: #fff;
    margin-bottom: 28px;
  }

  button:hover {
    background-color: #6070ff;
    color: white;
    cursor: pointer;
  }

  button:active {
    background-color: #2230d2;
    color: white;
  }

  .flex {
    display: flex;
    list-style-type: none;
    align-items: flex-start;
  }

  .flex > li {
    padding-right: 30px;
  }

  .flexbox-container-double {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 140px;
    background-color: white;
    border-radius: 24px;
  }

  .flexbox-item2 {
    width: 100%;
    background-color: white;
    margin-left: 20px;
  }

  .flexbox-item2-1 {
    width: 70%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    flex: none;
  }

  .flexbox-item2-2 {
    width: 70%;
    display: flex;
    padding: 20px 0.01px 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .flexbox-item2-2 > a {
    padding-right: 20px;
    color: #6b778c;
  }

  .flexbox-item2-3 {
    width: 80%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
  }

  .flexbox-item2-4 {
    list-style-type: none;
    display: flex;
    width: 70%;
    padding: 20px 20px 20px 0.01px;
  }

  .flexbox-item2-4 > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    margin-right: 10px;
    background: #ebebff;
    border-radius: 8px;
  }

  .flexbox-item2-5 {
    width: 80%;
    left: 12px;
    top: 12px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
  }

  .flexbox-item3 {
    width: 80%;
    background-color: white;
    margin-left: 10%;
  }

  .flexbox-item3-1 {
    width: 80%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
    padding-bottom: 20px;
  }

  .flexbox-item3-2 {
    width: 80%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    padding-bottom: 20px;
  }

  .flexbox-item3-3 {
    position: static;
    width: 80%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #396df2;
    padding-bottom: 20px;
  }

  .flexbox-item3-4 > a {
    padding-right: 20px;
    padding-top: 20px;
  }

  .flexbox-item4 {
    width: 80%;
    background-color: white;
    align-items: flex-start;
  }

  .flexbox-item4-1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-start;
    color: #344563;
    justify-content: space-between;
    padding: 20px 20px 20px 0.01px;
    width: 80%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: white;
    padding: 10px;
    gap: 20px 20px 20px 0.01px;
    width: 100%;
  }

  .grid-item {
    width: 40%;
    height: 120%;
    background: #f7f7f9;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .images1 {
    display: flex;
    align-items: center;
    margin: 16px;
  }

  .images1:hover {
    animation: left-to-bottom 3s;
  }

  @keyframes left-to-bottom {
    100% {
      transform: translate(50%);
    }
  }

  .flexbox-item3-6 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #344563;
  }

  .contact-container {
    width: 100%;
    background: #6070ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 80px;
  }

  .contact-item-1 {
    position: static;
    width: 40%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    justify-content: center;
  }

  .contact-item-2 {
    position: static;
    width: 30%;
    left: 116px;
    top: 68px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  .form {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
  }

  .form-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    padding: 12px 16px;
    width: 40%;
    justify-content: center;
  }

  .form-btn:hover {
    background-color: green;
    color: #fff;
  }

  .form-btn:active {
    background-color: yellow;
    color: #fff;
  }

  .bullet {
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }
}
