header {
  display: flex;
}

.logo {
  position: static;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  margin-right: 15%;
}

.logo2 {
  height: 50px;
}

.icons {
  margin: 10px;
}

.intro {
  position: static;
  width: 327px;
  height: 150px;
  left: 24px;
  top: 114px;

  /* Header / 2 */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  display: flex;
  align-items: center;

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px;
}

.intro2 {
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;

  /* Body / 2 */

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 1;
  margin: 12px;
}

.smedia {
  position: static;
  width: 117px;
  height: 24px;

  /* Body / 2 - Bolder */

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* Primary/B300 */

  color: #7f8cff;

  /* Inside auto layout */

  flex: none;
  margin: 8px;
}

